<section class="form-wrapper">

<div class="form-menu">
  <a id="login" href="/auth/login">Login</a>
  {{!-- <a class="auth-link" href="/auth/logout">Logout</a> --}}
</div>


<div>
  <form action="/auth/login" method="POST" class="form">
    <label> Username <br>
    <input type="text" name="username">
    </label>

    <br>

    <label> Password <br>
    <input type="password" name="password">
    </label>

    <br>

    <button class="button" type="submit">Submit</button>
    
    <p class="text-form">Not registred? <a class="auth-link" href="/auth/signup">Signup</a></p>
  </form>
</div>

</section>

{{#if errorMessage}}
<p class="error">{{errorMessage}}</p>
{{/if}}


   
