<section class="form">

<div class="form-menu">
  <p1>Planifica tu menú semanal</p1>
  <a class="button" id="login" href="/auth/login">Empezamos</a>
  {{!-- <a class="auth-link" href="/auth/logout">Logout</a> --}}
</div>

</section>