<section class="form-wrapper">

<div>
  <a class="nav-link" href="/auth/signup">Signup</a>
  <a class="nav-link" href="/auth/login">Login</a>
   <a class="nav-link" href="/auth/logout">Logout</a>
</div>

<div>
  <form action="/auth/signup" method="POST">
    <label> Username
        <input type="text" name="username">
    </label>
    <label> Password
        <input type="password" name="password">
    </label>

    <button type="submit">Submit</button>
  </form>
</div>

</section>