<section class="form-wrapper">

<div class="form-menu">
  <a class="nav-link" href="/auth/signup">Signup</a>
  <a class="nav-link" href="/auth/login">Login</a>
  <a class="nav-link" href="/auth/logout">Logout</a>
</div>

</section>