<h1>Esto es la home, si ya has hecho login</h1>

<section class="form-wrapper">



<div class="form-menu">
  <a id="login" href="/auth/login">Login</a>
  {{!-- <a class="auth-link" href="/auth/logout">Logout</a> --}}
</div>

</section>