<div>
    <form action="/profile/create" method="post">
        <label for="name">
            <input type="text" name="name" placeholder="Your name">
        </label>
        <br>
        <br>
        <label for="email">
          <textarea name="description" placeholder="add your email here"></textarea>
        </label>
        <br>
        
        <button type="submit"> Create profile</button>
    </form>
</div> 