
     
<div class="wrapper">
    <div class="left">
        <img src="https://i.imgur.com/cMy8V5j.png" alt="user" width="100">
        <p>Welcome to your profile</p>
        <h4>{{user.username}}</h4>
      
    </div>
    <div class="right">
      <form action = "/profile" method="POST">
        <div class="info">
            <h3>About me</h3>
            <div class="info_data">
              <div>  <label for="email">
          <textarea name="email" placeholder="add your email here">{{user.email}}</textarea></div>
               
        </label>
            </div>
        </div>
      
      <div class="projects">
            <h3>Diet</h3>
            <div class="projects_data">
                 <div class="data">
                    <h4>Allergies</h4>
                     <label for="email">
          <textarea name="allergies" placeholder="add your allergies here">{{user.allergies}}</textarea></div>
               
        </label>
                 </div>
                 <div class="data">
                   <h4>Special diets</h4>
                     <label for="email">
          <textarea name="specialDiets" placeholder="add your special diets here">{{user.specialDiets}}</textarea></div>
               
        </label>
              </div>
              <button type="submit">Update profile</button>
            </div>
        </div>
      </form>
        
    
    </div>
</div>
   </form>