body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(to right, #F2FEDC, #96BCAA);
}

/* ------------ FORM STYLE ------------ */
.form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
}

.form-menu{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  margin-top: 5%;
  color: #FAFFBE;
}

.form{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 15%;
  text-align: center;
  gap: 5px;
  margin-bottom: 5%;
}

.form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #FAFFBE;
  border-radius: 30px;
  background: #FAFBE9;
}

.form label{
  color: #D4A439;
}

/* ------------ FORM LINKS AUTENTIFICACIÓN ------------ */
#signup{
  font-size: 25px;
  color:#D4A439;
  text-decoration: none;
}

#login{
  font-size: 25px;
  color:#D4A439;
  text-decoration: none;
}

.text-form{
  color: #cfcac4;
}

.auth-link{
color:#96BCAA;
text-decoration: none;
}

.auth-link:hover{
  color:#D4A439;
  text-decoration: none;
}
/* ------------ FORM SUBMIT BUTTON ------------ */
.button{
  background: #FAFBE9;
  color: #D4A439;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  line-height: 0.8;
  padding: 18px 30px;
  border-radius: 1px;
  letter-spacing: 0.5px;
  border:1px;
  border-color: #D4A439;
  cursor:pointer;
  border-radius:100px;
  margin-bottom: 5%;
}

.button:hover {
  box-shadow: 0 10px 20px -4px #D4A439;
}

/* ------------ PREDETERMINADOS ------------ */
a {
  color: #00b7ff;
}

h3 {
  color: #474838;
}

.error{
  color: red;
}

.logo{
  height: 50px;
  margin-right: 5px;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f3f3;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 450px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 35%;
  background: linear-gradient(to right,#01a9ac,#01dbdf);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4{
  margin-bottom: 10px;
}

.wrapper .left p{
  font-size: 12px;
}

.wrapper .right{
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects{
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.wrapper .social_media ul{
  display: flex;
}

.wrapper .social_media ul li{
  width: 45px;
  height: 45px;
  background: linear-gradient(to right,#01a9ac,#01dbdf);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapper .social_media ul li a{
  color :#fff;
  display: block;
  font-size: 18px;
}