
<div class='container'>
  <h1>Choose your favorites recipes!</h1>

     <div>
        <form action="/recipe-search" method="POST" class="d-flex" role="search">
        <input class="form-control" type="text" name="search" placeholder="Search for ingredients">
        <button class="btn btn-outline-light" style="border-color: #51145D; color: #51145D;" type="submit">Search</button>
        </form>
      </div>

  <div class='row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 my-5'>

   {{!-- image name status --}}
    {{#each recipes}}

      <div class='col'>
        <div class="title-m-t">
          <a class="image" href="recipes/{{this.id}}">
            <img src="{{this.image}}" alt="">
          </a>
          
          <p>{{this.title}}</p>
        
        </div>
      </div>
    {{/each}}    
  </div>
</div>