<div class='container'>
  <h1>Choose your favorites recipes!</h1>

  <div class='row row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 my-5'>
    <div>
    <div>
        <form action="/recipe-search" method="POST">
        <input type="text" name="search" placeholder="Search for ingredients">
        <button type="submit">Search</button>
        </form>
    </div>
</div> 
  {{!-- image name status --}}
    {{#each recipes}}
    <div class='col'>
      <div class='card shadow-sm'>
        <img src="{{this.image}}" alt="">
        <p>{{this.title}}</p>
        <form action = "/add-favorite" method="POST">
          <input type="hidden" name="apiId" value={{id}}>
          <button type="submit">Añadir a favoritos</button>
        </form>
      </div>
    </div>
    {{/each}}    
  </div>
</div>