<div class="table-responsive">
  <table class="table">
    <thead>
      <th></th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </thead>

    <tbody>
      <tr class="table-light">
        <td>comida</td>
        <td>
          {{#each favorites}}
            <div class='card shadow-sm'>
              <a class="image" href="recipes/{{this.apiId}}">
                <img src="{{this.image}}" alt="imagen comida">
              </a>
              <p>{{this.title}}</p>
            </div>
          {{/each}}
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="table-light">
        <td>cena</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
       
      </tr> 
    </tbody>
  </table>
</div>