<table class="table">
  <thead>
    <th></th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </thead>

  <tbody>
    <tr>
      <td>comida</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>cena</td>
      <td></td>
      <td></td>
    </tr> 
  </tbody>
</table>